@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Blob files</h1>
    <p>Container: <strong>@Model.ContainerName</strong></p>

    @if (Model.Blobs.Count == 0)
    {
        <p>No blobs found in the container.</p>
    }
    else
    {
        <table class="table table-striped table-hover text-start">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var blob in Model.Blobs)
                {
                    <tr>
                        <td>@blob.Name</td>
                        <td><a href="@blob.DownloadUrl">Download</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
